@model IEnumerable<ProyectoFinalP3.Models.Pacientes>

@{
    ViewBag.Title = "Pacientes";
}

<h2>Pacientes</h2>

<p>
    @Html.ActionLink("Agregar paciente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seguro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seguro)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id=item.IdPaciente }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IdPaciente }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdPaciente })
        </td>
    </tr>
}

</table>
