@model ProyectoFinalP3.Models.AltasMedicas

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>AltasMedicas</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.IdIngresos, "IdIngresos", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdIngresos", null, htmlAttributes: new { @class = "form-control", id="list"})
                @Html.ValidationMessageFor(model => model.IdIngresos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Paciente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Paciente, new { htmlAttributes = new { @class = "form-control", id="Paciente", @readonly="readonly" } })
                @Html.ValidationMessageFor(model => model.Paciente, "", new { @class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Habitacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Habitacion, new { htmlAttributes = new { @class = "form-control", id="NumeroHabitacion", @readonly="readonly" } })
                @Html.ValidationMessageFor(model => model.Habitacion, "", new { @class = "text-danger"  })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaIngreso, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaIngreso, new { htmlAttributes = new { @class = "form-control", id="FIngreso", @readonly="readonly" } })
                @Html.ValidationMessageFor(model => model.FechaIngreso, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaSalido, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaSalido, new { htmlAttributes = new { @class = "form-control", id="FSalida" } })
                @Html.ValidationMessageFor(model => model.FechaSalido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrecioTotal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrecioTotal, new { htmlAttributes = new { @class = "form-control", id="MFinal", @readonly="readonly" } })
                @Html.ValidationMessageFor(model => model.PrecioTotal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function (){
            $("#list").change(function () {
                var url = "@Url.Action("Nombre", "AltasMedicas")";
                var clavePaciente = $("#list").val();
                var data = { clavePaciente: clavePaciente };
                $.post(url, data).done(function (data) {
                    $("#Paciente").val(data);
                }).fail(manejarErrorAjax).always(function (){

                });
            });
             $("#list").change(function () {
                var url = "@Url.Action("FechaIngreso", "AltasMedicas")";
                var clavePaciente = $("#list").val();
                var data = { clavePaciente: clavePaciente };
                $.post(url, data).done(function (data) {
                    $("#FIngreso").val(data);
                }).fail(manejarErrorAjax).always(function (){

                });
             });
             $("#list").change(function () {
                var url = "@Url.Action("NumeroHabitacion", "AltasMedicas")";
                var clavePaciente = $("#list").val();
                var data = { clavePaciente: clavePaciente };
                $.post(url, data).done(function (data) {
                    $("#NumeroHabitacion").val(data);
                }).fail(manejarErrorAjax).always(function (){

                });
             });

            $("#list").change(function () {

                $("#FSalida").val();

            });

            $("#list").change(function () {
                var url = "@Url.Action("Monto", "AltasMedicas")";
                var clavePaciente = $("#list").val();
                var data = { clavePaciente: clavePaciente };
                $.post(url, data).done(function (data) {
                    $("#MFinal").val(generaMonto(data));
                }).fail(manejarErrorAjax).always(function (){

                });
             });


            function manejarErrorAjax(err) {
                console.log(err.responseText);
            }
        })

   /*    function addZero(i) {
            if (i < 10) {
                i = '0' + i;
            }
            return i;
        }

        function hoyFecha() {
            var hoy = new Date();
            var dd = hoy.getDate();
            var mm = hoy.getMonth() + 1;
            var yyyy = hoy.getFullYear();

            dd = addZero(dd);
            mm = addZero(mm);

            return yyyy + '-' + mm + '-' + dd;
        }*/
        console.log(generaMonto())

        function generaMonto(data) {
            var fechaf = $("#FSalida").val().replace("-", "");
            var fechai = $("#FIngreso").val().replace("-", "");
            var montoPorDia = data;
            resta = fechaf.replace("-", "") - fechai.replace("-", "");

            return resta * data;
        }

    </script>
}
