@model IEnumerable<ProyectoFinalP3.Models.AltasMedicas>

@{
    ViewBag.Title = "Altas Médicas";
}

<h2>Altas Médicas</h2>

<p>
    @Html.ActionLink("Agregar nueva", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Paciente)
        </th>
        <th>
            Habitación
        </th>
        <th>
            Fecha de Ingreso
        </th>
        <th>
            Fecha de Salida
        </th>
        <th>
            Monto a Pagar
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Habitacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaIngreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaSalido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioTotal)
        </td>
    </tr>
}

</table>
